html{
    margin: 0;
    font-size:10px; 
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #2e3336;
}

.flex-container{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.desktop-video, 
.desktop-words, 
.tablet-video, 
.tablet-words,
.tablet-two-video,
.tablet-two-words,
.mobile-video, 
.mobile-words{
    display: none;
}

.desktop-video{
    height: 96vh;
    padding: 1%
}

.desktop-words, .tablet-words, .tablet-two-words, .tablet-words, .tablet-words{
    font-family: "elza-text", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 1%;
    color: white;
    font-size: 1rem;
    
}

.tablet-video{
    padding: 1%;
}

.desktop-words{
    width: 15%;
}

.tablet-video{
    width: 70%;
}

.tablet-words{
    width: 20%;


}

.tablet-two-video{
   height: 100vh;
}


@media screen and (min-width: 950px){
    .desktop-video, .desktop-words{
        display: block;

    }
}

@media screen and (min-width: 750px) and (max-width: 949px){
    .tablet-video, .tablet-words{
        display: block;
        flex-direction: row-reverse;

    }
}
@media screen and (min-width: 500px) and (max-width: 749px){
    .tablet-two-video, .tablet-two-words{
        display: block;
        flex-direction: column;

    }
}
@media screen and (max-width: 499px){
    .mobile-video, .mobile-wordst{
        display: block;
    }
    .flex-container{
        flex-direction: column;
    }
}

/*
.desktop-image-left{
    width: 58.3%;
    height: 100%;
    object-fit: cover;
}

.desktop-image-right{
    width: 42.7%;
    height: 100%;
    object-fit: cover;
}

.tablet-image-left{
    width: 100%;
    height: 30%;
    object-fit: cover;
}

.tablet-image-right{
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.mobile-image-left{
    width: 100%;
    height: 40%;
    object-fit: cover;
}

.mobile-image-right{
    width: 100%;
    height: 60%;
    object-fit: cover;
}


@media screen and (max-width: 499px){
    .mobile-image-left, .mobile-image-right{
        display: block;
    }
    .flex-container{
        flex-direction: column;
    }
}

@media screen and (min-width: 500px) and (max-width: 949px){
    .tablet-image-left, .tablet-image-right{
        display: block;

    }
    .flex-container{
        flex-direction: column;
    }
}

@media screen and (min-width: 950px){
    .desktop-image-left, .desktop-image-right{
        display: block;
    }
}

.toggle-container{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 52rem;
    height: 19rem;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 999rem;
}

.toggle-circle{
    width: 17.7rem;
    height: 17.7rem;
    border-radius: 999rem;
    background: rgba(0,0,0,0.4);
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform:translateY(-50%);
    transition: transform 0.5s ease;
}

.toggle-container.is-active{
    .toggle-circle{   
        transform:translateY(-50%) translateX(34.3rem);}
 
}